<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀원 정보</title>
</head>

<div layout:fragment="content" class="max-w-4xl mx-auto bg-white rounded-lg shadow-sm p-8"
     th:object="${teamMemDetailDto}">
    <div class="flex item-center">
        <!--<img id="uniformImg" th:src="null" alt="유니폼 이미지" class="w-36 h-36 rounded-lg shadow-sm"/>-->

        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 512.001 512.001" xml:space="preserve" width="150px" height="150px" fill="#000000"
             stroke="#000000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>

            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

            <g id="SVGRepo_iconCarrier">
                <path style="fill:#d90d2b;"
                      d="M319.868,24.405c-7.76,27.991-33.405,48.545-63.868,48.545s-56.107-20.555-63.868-48.545H7.606 v186.154h80.289v277.037h336.21V210.558h80.289V24.405H319.868z"/>

                <!-- 등 번호 -->
                <text x="256" y="250" font-size="220" fill="white" font-weight="bolder"
                      text-anchor="middle" dominant-baseline="middle"
                      stroke="#163650" stroke-width="15"
                      th:text="*{playerNum}">99</text>

                <!--<polygon style="fill:#edf7f7;"
                         points="207.509,153.574 207.509,200.005 234.34,200.005 234.34,326.681 281.792,326.681 281.792,153.574 "/>
                -->
                <g> <rect x="424.108" y="24.401" style="fill:#FFB912;" width="40.145" height="186.158"/>
                    <rect x="47.756" y="24.401" style="fill:#FFB912;" width="40.145" height="186.158"/>
                    <polyline style="fill:#FFB912;"
                              points="166.765,407.305 87.895,407.305 87.895,447.45 424.104,447.45 424.104,407.305 187.048,407.305 "/>
                </g>
                <g> <path style="fill:#163650;"
                          d="M471.856,16.799h-55.357H314.084l-1.546,5.574C305.524,47.674,282.274,65.345,256,65.345 s-49.524-17.671-56.538-42.972l-1.546-5.574H95.503H40.145H0v201.365h40.145h40.144v181.534h-0.001v55.358h0.001v40.145h351.422 V218.165h40.145h40.144V16.799H471.856z M15.212,202.952V32.011h24.933v170.941H15.212z M55.358,202.952V32.011H80.29v170.941 H55.358z M95.502,479.989v-24.933h320.998v24.933H95.502z M416.499,399.699H187.048v15.212h229.45v24.933H95.502v-24.933h71.263 v-15.212H95.502V218.165h0.001V32.011h91.087c10.538,28.857,38.289,48.545,69.41,48.545s58.872-19.689,69.41-48.545h91.088v170.941 v15.212v181.534H416.499z M431.712,202.952V32.011h24.933v170.941H431.712z M496.788,202.952h-24.932V32.011h24.932 L496.788,202.952L496.788,202.952z"/>
                    <!--<path style="fill:#163650;"
                          d="M199.903,207.611h26.831v126.676H289.4V145.968h-89.496v61.643H199.903z M215.115,161.18h59.071 v157.894h-32.24V192.399h-26.831V161.18z"/>
                -->
                </g>
            </g>
        </svg>
        <div class="flex-col items-center ml-40">
            <div class="flex items-center space-x-6 mr-4">
                <div class="text-gray-600 flex items-start space-x-4">
                    <h2 id="nameText" class="text-2xl font-bold mb-0 mr-8" th:text="*{name}"></h2>
                    <div class="flex flex-col space-y-2">
                        <p class="font-bold" th:text="'팀내 직책 : ' + *{teamRole.roleName}"></p>
                        <p class="font-bold" th:text="'주 포지션 : ' + *{position.positionDetail}"></p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between mt-4 p-4 bg-gray-100 rounded-lg items-center">
                <div class="text-gray-600 flex-col justify-center w-full">
                    <div class="flex mb-2">
                        <p class="mr-4" th:text="'경기 수 : ' + *{attendance}"></p>
                        <p class="mr-4" th:text="'득점 : ' + *{goals}"></p>
                        <p class="mr-4" th:text="'도움 : ' + *{assist}"></p>
                    </div>
                    <div class="flex mt-2">
                        <p class="mr-4" th:text="'승 : ' + *{wins}"></p>
                        <p class="mr-4" th:text="'무 : ' + *{draws}"></p>
                        <p class="mr-4" th:text="'패 : ' + *{loses}"></p>
                        <p class="mr-4"
                           th:text="*{winRate} != '기록 없음' ? '승률 : ' + *{winRate} + ' %' : '승률 : 기록 없음'">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="max-w-xl bg-white p-4 mt-5">
        <h3 class="text-lg font-semibold mb-4 border-b-2 border-gray-400 pb-2">팀원 소개</h3>
        <p id="detailText" class="text-gray-600 leading-relaxed"
           th:text="*{detail} == null or *{detail} == '' ? '(공 백)' : *{detail}"></p>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 shadow-lg rounded-lg">
            <thead class="bg-gray-200">
            <tr class="text-gray-700 text-left">
                <th class="px-6 py-3 border-b-2 border-gray-300">날 짜</th>
                <th class="px-6 py-3 border-b-2 border-gray-300">상 대</th>
                <th class="px-6 py-3 border-b-2 border-gray-300">득 점</th>
                <th class="px-6 py-3 border-b-2 border-gray-300">도 움</th>
                <th class="px-6 py-3 border-b-2 border-gray-300">스코어</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hover:bg-gray-100 transition cursor-pointer">
                <td class="px-6 py-4 border-b border-gray-300" th:text="'test'"></td>
                <td class="px-6 py-4 border-b border-gray-300" th:text="'test'"></td>
                <td class="px-6 py-4 border-b border-gray-300" th:text="'test'"></td>
                <td class="px-6 py-4 border-b border-gray-300" th:text="'test'"></td>
                <td class="px-6 py-4 border-b border-gray-300" th:text="'test'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>