<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination(contents, page, maxPage)">
    <div class="mt-6 flex justify-center"
         th:with="start=${(contents.number / maxPage) * maxPage + 1},
                  end=${(contents.totalPages == 0) ? 1 : (start + (maxPage - 1) < contents.totalPages ? start + (maxPage - 1) : contents.totalPages)}">
        <ul class="flex space-x-2">

            <li th:classappend="${contents.first}?'opacity-50 pointer-events-none'"
                class="bg-gray-300 px-3 py-2 rounded">
                <a th:onclick="'javascript:page(' + ${contents.number - 1} + ')'" class="cursor-pointer">« 이전</a>
            </li>

            <li th:each="p : ${#numbers.sequence(start, end)}"
                th:classappend="${contents.number eq p - 1}?'bg-blue-500 text-white'"
                class="px-3 py-2 rounded cursor-pointer hover:bg-gray-200">
                <a th:onclick="'javascript:page(' + ${p - 1} + ')'" th:inline="text">[[${p}]]</a>
            </li>

            <li th:classappend="${contents.last}?'opacity-50 pointer-events-none'"
                class="bg-gray-300 px-3 py-2 rounded">
                <a th:onclick="'javascript:page(' + ${contents.number + 1} + ')'" class="cursor-pointer">다음 »</a>
            </li>

        </ul>
    </div>


    <script>
        function page(pageNumber) {
            window.location.href = '/posts?page=' + pageNumber;
        }
    </script>
</th:block>
</html>
