<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 생성</title>
</head>

<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null) {
                alert(errorMessage)
            }
        });
    </script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', () => {
            if ([[${resetName}]]) {
                document.querySelector('input[name="teamName"]').value = ''; // 뷰 레벨에서 초기화
            }
        });
    </script>
</th:block>

<div layout:fragment="content" class="max-w-2xl mx-auto p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-3xl font-bold text-gray-900 mb-6">팀 생성</h2>

    <form th:action="@{/team/new}" method="post" class="space-y-4" th:object="${teamFormDto}">
        <!-- 이름 -->
        <div th:replace="team/fragments/formField::formField(text, '이름', 'teamName', '이름을 입력해주세요.','')"></div>

        <div>
            <label th:for=="${region}" th:text="지역" class="block text-sm font-medium text-gray-700"></label>
            <select th:field="*{region}"
                    class="w-full border-gray-300 rounded-lg shadow-sm focus:border-custom focus:ring focus:ring-custom focus:ring-opacity-50 px-4 py-2 mt-1">
                <option value="">-- 선택하세요 --</option>
                <option th:each="region : ${regions}"
                        th:value="${region.name()}"
                        th:text="${region.getRegionName}">
                </option>
            </select>
            <p th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="fieldError"></p>
        </div>

        <div class="mb-3">
            <label th:for=="${ageRange}" th:text="나이대" class="block text-sm font-medium text-gray-700"></label>
            <select th:field="*{ageRange}"
                    class="w-full border-gray-300 rounded-lg shadow-sm focus:border-custom focus:ring focus:ring-custom focus:ring-opacity-50 px-4 py-2 mt-1">
                <option value="">-- 선택하세요 --</option>
                <option th:each="ageRange : ${ageRanges}"
                        th:value="${ageRange.name()}"
                        th:text="${ageRange.getRange}">
                </option>
            </select>
            <p th:if="${#fields.hasErrors('ageRange')}" th:errors="*{ageRange}" class="fieldError"></p>
        </div>

        <div class="flex justify-end">
            <button type="submit"
                    class="bg-custom text-white px-6 py-2 rounded-lg hover:bg-custom/90">
                팀 생성
            </button>
        </div>
    </form>
</div>
</html>